{
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "useTabs": false,
    "editor.formatOnSave": true,
    "editor.formatOnPaste": true,
    "editor.formatOnType": true,
    "editor.defaultFormatter": "esbenp.prettier-vscode"
}
